<!DOCTYPE html>
<html lang="en" >
<head >
	<meta charset="UTF-8" />
	<title >登陆</title >
</head >
<body >
<br/>
<br/>
<br/>
<br/>
<h1 align="center">用户登陆</h1>
<form action="#" method="post">
	<table align="center">
		<tr>
			<th>用户名:</th>
			<td><input type="text" name="nickname"/></td>
		</tr>
		<tr>
			<th>密码:</th>
			<td><input type="password" name="password"/></td>
		</tr>
		<tr>
			<td><button>注册</button></td>
			<td align="right"><button>登陆</button></td>
		</tr>
	</table>
</body >
</html >