<!DOCTYPE html>
<html lang="en" >
<head >
	<meta charset="UTF-8" />
	<title >注册</title >
</head >
<body >
<div id="container">
	<br/>
	<br/>
	<br/>
	<h1 align="center">用户注册</h1>
	<form action="#" method="post">
		<table align="center">
			<tr>
				<th>用户名:</th>
				<td><input type="text" name="nickname"/></td>
			</tr>
			<tr>
				<th>密码:</th>
				<td><input type="password" name="password"/></td>
			</tr>
			<tr>
				<th>确认密码:</th>
				<td><input type="password" name="repassword"/></td>
			</tr>
			<tr>
				<th>号码:</th>
				<td><input type="text" name="tel"/></td>
			</tr>
			<tr>
				<th>地址:</th>
				<td><input type="text" name="address"/></td>
			</tr>
			<tr>
				<th>邮箱:</th>
				<td><input type="text" name="email"/></td>
			</tr>
			<tr>
				<td align="right"><button>注册</button></td>
			</tr>
		</table>
	</form>
</div>
</body >
</html >